.panel-comment{
    border: 2px solid #24d1c4;
    border-radius: 2px;
    width: 706px;
    font-size: 14px;
    color: #666666;
    font-family: 'Source Sans Pro Regular';
    padding: 3px;
    background-color: #EEE;
}
.post-comment{
    //padding: 5px;
}
.post-comment textarea, .videoknotes-pad{
    padding: 3px;
}
.post-comment textarea{
    width: 683px;
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 50px;
}
.videoknotes-pad{
    overflow-y: auto;
    height: 200px;
    background-color: #FFF;
    box-sizing: border-box;
    border: 1px solid #CCC;
    border-radius: 3px;
}

.videoknotes-pad .comment{
    padding: 5px;
    border:1px solid #DDD;
    margin-bottom: 2px;
}
.videoknotes-pad .comment .part{
    display: inline-block;
    margin-right: 5px;
}

.videoknotes-pad .comment .time-part{
    width: 50px;
    margin-left: 10px;
}

.videoknotes-pad .comment .tool-part button{
    height: 30px;
    width: 30px;
    background-color: #EEE;
    border: 1px solid #999;
    border-radius: 3px;
    margin-left: 5px;
}

.videoknotes-pad .comment .comment-part{
    width: 500px;
    vertical-align: text-top;
}

.videoknotes-pad .comment.active {
    background-color: #DBF9FF;
    border: 1px solid #24d1c4;
    color: #333;
}
